*{
    background-color: black;
}


.verseBox{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    
    padding: 20px;
    
   

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    text-align: center;
    font-size: 5vw;
    
    box-sizing: border-box;
    
}