* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Arial";
}
#index {
    display: none;
}
.window-page {
    display: flex;
    flex-direction: column;
    
    height: 100vh;
    width: 100vw;
}
body{
    background-color: white;
    display: flex;
    flex-direction: column;
    
    height: 100vh;
    width: 100vw;
    

}
input {
    border-style: none;
    border-radius: 5px;
}
button {
    border-style: none;
    border-radius: 5px;
    background-color: white;
}
header {
    width: 100%;
    height: 5%;
    padding: 5px;
    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4a4f5e;
}
main {
    width: 100%;
    height: 95%;
    display: flex;
    justify-content: left;
    background-color: #bdb8bf;
}
.mainBox {
    display: flex;
    border-radius: 10px;
    background-color: #fcf5fb;
    padding: 10px; 


}

#returnButton{
    height: 90%;
  
}



main #editSection {
    width: 70%;
    height: 100%;
    padding: 10px; 
   
    
}

#textEditingArea {
    height: 100%;
    width: 100%;
    font-size: xx-large;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}
#textEditingArea::-webkit-scrollbar {
    display: none;
}

main #editControlSection {
    width: 40%;
    height: 100%;
    padding: 10px; 
    display: flex;
    flex-direction: column;
    
}

#editorOptions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    width: 100%;
    margin-bottom: 10px;
    
}

#editorOptions #categoryOption {
    display: flex;
    justify-content: left;
}

#editorSaveButton {
    height: 20%;
    width: 100%;
}


