
#index {
    display: none;
}
input {
    width: 100%;
    margin-left: 10px;
}


header {
    width: 100%;
    height: 5%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4a4f5e;
}
.elementWarning {
    border: red solid 2px;
}

.failedSummary{
    background-color: red;
}
.succesfulSummary{
    background-color: green;
}
#loadButtonsBox {
    height: 100%;
    width: 30%;
    
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: end;
    
}
.fileLoadButton{
    height: 100%;
    transition: 0.2s;
    margin: 5px;
}
.fileLoadButton:hover{
    font-size: larger;
    background-color: #fcf5fb;
}


#returnIndexButton{
    margin: 5px;
    height: 100%;
  
}
#returnIndexButton:hover{
    background-color: #fcf5fb;
}

section#editSection {
    width: 70%;
    height: 100%;
    padding: 10px; 
   
    
}
#editBoxControl {
    margin-bottom: 10px;
    height: 5%;
    width: 100%;
   
    display: flex;
    justify-content: space-between;
   
    color: #4a4f5e;
}
.historyButton {
    background-color: #fcf5fb;
    transition: 0.2s;
}
.historyButton:hover {
    background-color: white;

}


#textEditingArea {
    user-select: all;
    height: 95%;
    width: 100%;
    padding: 10px;
    font-size: xx-large;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    cursor: text;
}
#textEditingArea::-webkit-scrollbar {
    display: none;
}

section#editControlSection {
    width: 40%;
    height: 100%;
    padding: 10px; 
    display: flex;
    flex-direction: column;
    
}
.saveOption {
    display: flex;
    justify-content: left;
    margin-bottom: 10px;
    font-size: xx-large;
}

#editorOptions {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 80%;
    width: 100%;
    margin-bottom: 10px;
    
}
#editorSummary {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20%;
    width: 100%;
    padding: 5px;
}


.summaryButton{
    height: 100%;
    width: 45%;
    font-size: x-large;
    transition: 0.5s;
    
}
.summaryButton:hover {
    
    font-size: xx-large;
  
}



