*{
    background-color: black;
    user-select: none;
}

#dragger{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    cursor: move;
    -webkit-app-region: drag;

}

#container{
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 50;
}

.verseBox{
    position: fixed;
    left: 0;
    top: 50;
    height: 100%;
    width: 100%;
    
    padding: 25px;
    
    display: flex;
    justify-content: center;
    align-items: center;


    
    
    
    box-sizing: border-box;
    background-color: black;
    
    
}

p {
    font-size: 2em;
    color: white;
    text-align: center;
}
